.EpButton {
    display: flex;
    flex-grow: 1;
    text-transform: capitalize;
    color: var(--Ep-primaryText-color);
    border-radius: 8px;
    border: none;
    padding: 0.35em 0.7em;
    font-size: 1em;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background: var(--Ep-button-background-color--disabled);
        color: var(--Ep-button-color--disabled);

        &:hover {
            background: var(--Ep-button-background-color--disabled);
            color: var(--Ep-button-color--disabled);
        }
    }

    &--primary {
        background: var(--Ep-blue);

        &:hover {
            background: var(--Ep-blue--hover);
        }
    }

    &--secondary {
        background: var(--Ep-secondaryBlue);
        border: 1px solid var(--Ep-border-color);

        &:hover {
            background: var(--Ep-border-color);
        }
    }

    &--ghost {
        background: none;

        &:active {
            background: var(--Ep-ghostButton-background--active);
        }

        &:hover {
            background: var(--Ep-border-color);
        }
    }

    &--cancel {
        background: none;
        border: 1px solid var(--Ep-cancel-color);

        &:hover {
            border: 1px solid var(--Ep-hasError-color);
            background: var(--Ep-cancel-background-color--hover);
        }
    }
}
