.EpLinkComponent {
    color: var(--Ep-primaryText-color);
    font-size: var(--Ep-secondaryText-font-size);
    display: flex;
    align-items: center;
    text-transform: capitalize;

    &--primary {
        border-bottom: 2px solid transparent;
        padding: 0.5em 0.5em 0 0.5em;

        &.active {
            color: var(--Ep-blue);
            border-bottom: 2px solid var(--Ep-blue);
        }

        &:hover {
            color: var(--Ep-navlink-color--hover);
        }
    }

    &--secondary {
        padding: 0.5em 2em;

        &.active {
            border-radius: 8px;
            color: var(--Ep-primaryText-color);
            background: var(--Ep-blue);
        }

        &:hover {
            opacity: 0.75;
        }
    }
}
