.EpFooter {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    flex: 1 1 0px;
    background: var(--Ep-secondaryBackground-color);
    border-radius: 0 0 8px 8px;
    padding: 0.25em 1em;
    border-top: 1px solid var(--Ep-border-color);

    &-copyright {
        font-size: 0.75em;
        color: var(--Ep-dividerText-color);
    }
}
