.EpHeader {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 1;
    align-items: center;
    background: var(--Ep-header-background-color);
    padding: 0.25em;
    border-bottom: 1px solid var(--Ep-border-color);
    border-radius: 8px 8px 0 0;
    gap: 0.5em;

    &-option {
        display: flex;
        flex: 1;
        gap: 0.5em;

        & > * {
            padding: 0.5em 0.5em 0 0.5em;
            border-bottom: 2px solid transparent;

            &.active {
                color: var(--Ep-blue);
                border-bottom: 2px solid var(--Ep-blue);
            }

            &:hover {
                color: var(--Ep-navlink-color--hover);
            }
        }

        &--positionRight {
            display: flex;
            gap: 0.5em;
            margin-left: auto;
        }
    }
}

.EpHeader-dashboardButton {
    font-size: 1.25em;
}
