.Primary-button {
    background: #0d7ff2;
    font-family: sans-serif;
    font-weight: 600;
    &:hover {
        background: #0d7ff2e6;
    }
    &:disabled {
        background: #ffffff1f;
        color: #ffffff4d;
        &:hover {
            background: #ffffff1f;
            color: #ffffff4d;
        }
    }
}

.Secondary-button {
    background: #1e293b;
    font-family: sans-serif;
    font-weight: 600;
    &:hover {
        background: #334155;
    }
    &:disabled {
        background: #ffffff1f;
        color: #ffffff4d;
        &:hover {
            background: #ffffff1f;
            color: #ffffff4d;
        }
    }
}

.Ghost-button {
    background: none;
    &:active {
        background: rgba(0, 0, 0, 0.2);
    }
}

//.Toggle-button-container {
//  background: #1e293b;
//  display: flex;
//  justify-content: space-evenly;
//}
//
//.Toggle-button {
//  background: none;
//  &:active {
//    background: #101922;
//  }
//}
