#root {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.Login,
.Register,
.Create-event {
    display: inline-grid;
    gap: 10px;
}

a {
    display: contents;
}

h1 {
    margin: 0;
    padding: 25px;
}
