#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.login,
.register,
.create-event {
    display: inline-grid;
    gap: 10px;
}

a {
    display: contents;
}
