:root {
    --Ep-primaryText-font: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --Ep-primaryText-font-size: 1em;
    --Ep-secondaryText-font-size: 0.875rem;

    --Ep-blue: #0d7ff2;
    --Ep-blue--hover: #0d7ff2e6;
    --Ep-secondaryBlue: #1e293b;
    --Ep-secondaryBlue--hover: #334155;
    --Ep-ghostButton-background--active: #00000033;
    --Ep-dataInput-background: #1e293b80;
    --Ep-dataInput-border-color: #334155;
    --Ep-searchInput-background: #283039;
    --Ep-button-color--disabled: #ffffff4d;
    --Ep-button-background-color--disabled: #ffffff1f;

    @media (prefers-color-scheme: dark) {
        --Ep-background-color: #0a0c10;
        --Ep-secondaryBackground-color: #101922ff;
        --Ep-header-background-color: #191a1f;
        --Ep-primaryText-color: #f4f4f4;
    }

    @media (prefers-color-scheme: light) {
        --Ep-background-color: #f4f4f4;
        --Ep-primaryText-color: #191a1f;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}