:root {
    --Ep-primaryTextFont: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --Ep-primaryTextFontSize: 1em;
    --Ep-secondaryTextFontSize: 0.875rem;

    --Ep-primaryBlue: #0d7ff2;
    --Ep-primaryBlueOnHover: #0d7ff2e6;
    --Ep-secondaryBlue: #1e293b;
    --Ep-secondaryBlueOnHover: #334155;
    --Ep-ghostButtonBackgroundActive: #00000033;
    --Ep-disabledButtonColor: #ffffff4d;
    --Ep-disabledButtonBackgroundColor: #ffffff1f;
    --Ep-inputBackground: #283039;

    @media (prefers-color-scheme: dark) {
        --Ep-backgroundColor: #0a0c10;
        --Ep-headerBackgroundColor: #191a1f;
        --Ep-primaryTextColor: #f4f4f4;
    }

    @media (prefers-color-scheme: light) {
        --Ep-backgroundColor: #f4f4f4;
        --Ep-primaryTextColor: #191a1f;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.35em 0.7em;
    font-size: 1em;

    &:hover {
        border-color: #646cff;
    }
}
