@use '../../styles/mixins';

.EpEventDisplay {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    &-container {
        @include mixins.min-height-parent;
    }

    &-imageContainer {
        display: flex;
        padding-bottom: 1em;
    }

    &-image {
        @include mixins.min-height-child-scrollbar;
        display: flex;
        object-fit: cover;
        border-radius: 1em;
        width: 100%;
    }

    &-sidebarContainer {
        @include mixins.min-height-parent;
        position: sticky;
        height: fit-content;
        gap: 1em;
        top: 0;
        right: 0;
    }

    &-navigationMenu {
        @include mixins.min-height-parent;
        gap: 1em;
    }

    &-navigationOption {
        font-size: 0.9em;
        font-weight: 700;
        color: var(--Ep-secondaryText-color);
        text-decoration: none;

        &:hover {
            color: var(--Ep-primaryText-color);
        }

        &[aria-current='true'] {
            color: var(--Ep-blue);
        }
    }

    &-ticket {
        @include mixins.min-height-parent;
        background: var(--Ep-header-background-color);
        gap: 0.5em;
        border: 1px solid var(--Ep-border-color);
        border-radius: 8px;
        width: 240px;
    }

    &-ticketPrice {
        @include mixins.min-height-parent;
        padding: 0.5em;
        border-bottom: 1px solid var(--Ep-border-color);
    }

    &-ticketButtons {
        @include mixins.min-height-parent;
        padding: 0.5em;
        gap: 0.5em;
    }

    &-ticketTerms {
        @include mixins.min-height-parent;
        padding: 0.5em;
        font-size: 0.75em;
        color: var(--Ep-secondaryText-color);
        text-align: center;
    }

    &-detailsContainer {
        @include mixins.min-height-parent;
    }

    &-details {
        @include mixins.min-height-parent;
        gap: 0.75em;
    }

    &-timeContainer {
        @include mixins.min-height-parent;
    }

    &-timeLabels {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 600;
        color: var(--Ep-primaryText-color);
    }

    &-timeStartEnd {
        display: flex;
        justify-content: space-between;
        color: var(--Ep-secondaryText-color);
        font-weight: 600;
    }

    &-name {
        font-size: 1.25em;
        font-weight: 600;
    }

    &-location {
        display: flex;
        font-size: 1em;
        gap: 0.5em;
        color: var(--Ep-grey);
    }

    &-locationIcon {
        font-size: inherit;
    }

    &-about {
        display: flex;
        @include mixins.min-height-child-scrollbar;
        color: var(--Ep-secondaryText-color);
    }

    &-gallery {
        @include mixins.min-height-parent;
    }

    &-galleryHeader {
        display: flex;
        flex-direction: row;
    }

    &-galleryButton {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    &-buttonsContainer {
        display: flex;
        font-size: 0.9em;
        font-weight: 700;
    }

    &-cancelIcon {
        color: var(--Ep-hasError-color)
    }

    &-bookmarkIcon {
        color: white;
        font-size: 1.25em;
    }

    &-followButton {
        display: flex;
        gap: 0.25em;
        color: var(--Ep-blue);
    }

    &-contactButton {
        display: flex;
        gap: 0.25em;
        color: var(--Ep-dividerText-color);
    }
}

.mail {
    color: var(--Ep-dividerText-color);
    font-size: 1.25em;
}

.person_add {
    color: var(--Ep-blue);
    font-size: 1.25em;
}
