@use 'mixins';

.NavBar {
    &-main {
        border-radius: 8px;
        border-top: 2px solid #565656;
        border-bottom: 2px solid #565656;
        margin-bottom: 8px;
    }

    &-content {
        display: flex;
        flex-direction: column;

        @include mixins.media-tablet {
            justify-content: space-evenly;
            flex-direction: row;
        }
    }

    &-option {
        &.active {
            color: #5159f6;
        }
    }
}
