@use 'mixins';

.NavBar {
    &-main {
        border-radius: 8px;
        background: none;
        border-top: 1px solid #565656;
        border-bottom: 1px solid #565656;
        margin-bottom: 8px;
    }

    &-content {
        display: flex;
        flex-direction: column;

        @include mixins.media-tablet {
            justify-content: space-evenly;
            flex-direction: row;
        }
    }

    &-option {
        &.active {
            color: #646cff;
        }
    }
}

.Create-event {
    &-submit-button {
        background: green;
    }
}
