@use '../../styles/mixins';

.EpImageUpload {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    border: 2px dashed var(--Ep-border-color);

    &-dropZone {
        @include mixins.min-height-parent;
        @include mixins.min-height-child-scrollbar;
        position: relative;
        align-items: center;
        padding: 1em;
        gap: 0.5em;
        background: var(--Ep-dropzone-background);

        &:hover {
            cursor: pointer;
            background: var(--Ep-dropzone-background--hover);
        }
    }

    &-instructions {
        font-size: 0.75em;
        color: var(--Ep-secondaryText-color);
        font-weight: 600;

        &--bold {
            font-weight: 700;
        }
    }

    &-input {
        display: none;
    }

    &-iconContainer {
        background: rgb(21 40 58);
        padding: 0.75em;
        border-radius: 50px;
    }

    &-image {
        @include mixins.min-height-child-scrollbar;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &-clearImage {
        background: black;
        opacity: 0.75;
        border: none;
        border-radius: 8px;
        position: absolute;
        top: 17px;
        right: 17px;

        &:hover {
            opacity: 1;
        }
    }
}

.cloudUpload {
    color: var(--Ep-blue);
    font-size: 50px;
}
