@use '../../styles/mixins';

.EpDashboard {
    @include mixins.min-height-parent;
    background: var(--Ep-dashboard-background);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 16px;
    gap: 1em;
}
